[submodule "creative-extensions/puredata/flext"]
	path = creative-extensions/puredata/flext
	url = git@github.com:grrrr/flext.git
[submodule "sp-dr-client/lib/oscpp"]
	path = sp-dr-client/lib/oscpp
	url = git@github.com:kaoskorobase/oscpp.git
